@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../node_modules/swiper/swiper-bundle.css";
header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%), url("../../assets/headerBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}
.nav-bar img {
  width: 169px;
  height: 35px;
}

.nav-bar-links {
  display: none;
}

.nav-bar-call {
  display: none;
}

.header-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 77px;
}
.header-main-info p {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.header-main-info h2 {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.header-main-info-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
}
.header-main-info-bottom button {
  width: 130px;
  height: 50px;
  background: #3A4574;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  border-inline: 0;
  outline: none;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  transition-duration: 0.2s;
}
.header-main-info-bottom button:hover {
  border-bottom: 2px solid #FFF;
  border-top: 2px solid #FFF;
  background: rgba(58, 69, 116, 0.5647058824);
  transform: scale(1.1);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

.social-links {
  display: none;
}

@media (min-width: 1024px) {
  header {
    padding: 55px 50px 175px 50px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%), url("../../assets/headerBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
  }
  .nav-bar img {
    width: 169px;
    height: 35px;
  }
  .nav-bar-links {
    display: flex;
    gap: 45px;
    margin: 0 57px 0 30px;
  }
  .nav-bar-links a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition-duration: 0.3s;
    position: relative;
  }
  .nav-bar-links a:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
  }
  .nav-bar-links a:hover::after {
    transform: scaleX(1);
  }
  .nav-bar-links a::after {
    display: block;
    content: "";
    border-bottom: solid 2px #FFF;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .nav-bar-call {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  .nav-bar-call img {
    width: 24px;
    height: 24px;
  }
  .nav-bar-call a {
    color: #FFF;
  }
  .header-main-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 154px;
  }
  .header-main-info p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
  }
  .header-main-info h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: 88px;
  }
  .header-main-info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }
  .header-main-info-bottom button {
    width: 270px;
    height: 100px;
    background: #3A4574;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-inline: 0;
    outline: none;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition-duration: 0.2s;
  }
  .header-main-info-bottom button:hover {
    border-bottom: 2px solid #FFF;
    border-top: 2px solid #FFF;
    background: rgba(58, 69, 116, 0.5647058824);
    transform: scale(1.1);
    letter-spacing: 3px;
    text-transform: uppercase;
    transition-duration: 0.2s;
  }
  .social-links {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  .social-links a {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition-duration: 0.3s;
  }
  .social-links a:hover {
    color: #000;
    background-color: #FFF;
    transition-duration: 0.3s;
  }
}
@media (min-width: 1280px) {
  .nav-bar img {
    width: 219px;
    height: 45px;
  }
  .nav-bar-call img {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1480px) {
  header {
    padding: 55px 150px 175px 150px;
  }
  .nav-bar img {
    width: 269px;
    height: 55px;
  }
  .nav-bar-links {
    margin: 0 157px 0 130px;
  }
  .nav-bar-call img {
    width: 24px;
    height: 24px;
  }
}
main {
  display: flex;
  flex-direction: column;
}

.weekly-menu {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.weekly-menu-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #E7E7E7;
}
.weekly-menu-block div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.dots {
  display: flex;
  flex-direction: row !important;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #D3B47F;
  border-radius: 100%;
}

.weekly-images {
  display: none;
}

.comments-slider {
  background: #3A4574;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 5px;
}
.swiper-slide-info h2 {
  color: #D3B47F;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.swiper-slide-info span {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.swiper-slide-info p {
  color: #D3B47F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 5.88px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (min-width: 768px) {
  .swiper {
    width: 80%;
    height: 400px;
  }
  .swiper-slide-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 123px;
  }
  .swiper-slide-info h2 {
    color: #D3B47F;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
  }
  .swiper-slide-info span {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .swiper-slide-info p {
    color: #D3B47F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  .weekly {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-inline: 60px;
  }
  .weekly-menu {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 178px;
  }
  .weekly-menu-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #E7E7E7;
  }
  .weekly-menu-block div {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
  .weekly-images {
    border: 2px solid #D3B47F;
    width: 371px;
    height: 402px;
    gap: 22px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 131px;
  }
  .weekly-images img {
    width: 239px;
    height: 366px;
  }
  .weekly-images img:nth-child(1) {
    margin-top: 101px;
    margin-left: -80px;
  }
  .weekly-images img:nth-child(2) {
    margin-top: -51px;
    margin-right: -57px;
  }
  .comments-slider {
    background: #3A4574;
    padding-inline: 150px;
  }
  .swiper {
    width: 100%;
    height: 400px;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
  .swiper-slide-info h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .swiper-slide-info span {
    font-size: 16px;
    line-height: 40px;
  }
  .swiper-slide-info p {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 5.88px;
  }
}
@media (min-width: 1280px) {
  .weekly {
    justify-content: space-around;
    padding-inline: 50px;
  }
  .weekly-images {
    width: 401px;
    height: 432px;
  }
  .weekly-images img {
    width: 273px;
    height: 406px;
  }
  .weekly-images img:nth-child(1) {
    margin-top: 101px;
    margin-left: -97px;
  }
  .weekly-images img:nth-child(2) {
    margin-top: -51px;
    margin-right: -97px;
  }
}
@media (min-width: 1500px) {
  .weekly-images {
    width: 471px;
    height: 502px;
  }
  .weekly-images img {
    width: 323px;
    height: 486px;
  }
}
.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5647058824);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.popup form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  background-color: #FFF;
  height: 300px;
  width: 80%;
  border-radius: 10px;
}
.popup form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}
.popup form input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
}
.popup form button {
  width: 135px;
  height: 50px;
  background: #3A4574;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  border-inline: 0;
  outline: none;
  margin-top: 10px;
  justify-self: flex-end;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.popup h2 {
  align-self: center;
  margin-top: 20px;
}

#popup-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
  right: 5px;
  background: none;
  border: none;
  outline: none;
  color: red;
  font-size: 30px;
}

@media (min-width: 1024px) {
  .popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5647058824);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .popup form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    background-color: #FFF;
    height: 300px;
    width: 30%;
    border-radius: 10px;
  }
  .popup form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }
  .popup form input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
  }
  .popup form button {
    width: 135px;
    height: 50px;
    background: #3A4574;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-inline: 0;
    outline: none;
    margin-top: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .popup h2 {
    align-self: center;
    margin-top: 20px;
  }
  #popup-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: 5px;
    background: none;
    border: none;
    outline: none;
    color: red;
    font-size: 30px;
  }
}
#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu-btn span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn span,
#menu-toggle:checked ~ .menu-btn span::before,
#menu-toggle:checked ~ .menu-btn span::after {
  background-color: #876E84;
}

#menu-toggle:checked ~ .menu-box {
  visibility: visible;
  left: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  transition-duration: 0.25s;
}
.menu-btn span::after {
  content: "";
  top: 8px;
}
.menu-btn span::before {
  content: "";
  top: -8px;
}

.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #FFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: #CFD8DC;
}

.hamburger-menu a {
  color: #876E84;
  border-bottom: 1px solid #80757e;
}

.hamburger-call {
  display: flex;
  padding-left: 24px;
  gap: 10px;
  margin-top: 20px;
}
.hamburger-call img {
  width: 24px;
  height: 24px;
}
.hamburger-call a {
  border: none;
  color: #3A4574;
}

.hamburger-links {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 24px;
  margin-top: 20px;
}
.hamburger-links a {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  transition-duration: 0.3s;
}
.hamburger-links a:hover {
  color: #FFF;
  background-color: #000;
  transition-duration: 0.3s;
}

@media (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */